#squaredivsContainer{
    width: 500px;
    height: 500px;
    /*border: 1px solid #1B3358;*/
    display: flex;
    flex-wrap: wrap;
    
}

.buttonContainer{
    display: flex;
    gap: 50px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #06142e;
    gap: 20px;
}

button{
    width: 120px;
    height: 40px;
    background-color: #f1916d;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    margin-top: 25px; 
}

button:hover{
    background-color: #c06645;
}

/* .square:hover{
    background-color: #573e66;
    
}
*/

.square{
    background-color: #F5D7DB;

} 

.square:hover {
    background-color: #573e66;
    transition: background-color 0s ease; /* Übergangseffekt für den Hover auf 0 setzen */
  }
  
  .square:not(:hover) {
    transition: background-color 1s ease; /* Übergangseffekt für den Nicht-Hover-Zustand */
  }
 

  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1B3358;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 1s;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    top: -22px;
    left: 80%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  